.register {
  display: flex;
  flex-direction: column;
  max-width: 456px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 70px 30px;
}

.register__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
  display: inline-block;
}

.register__title {
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.register__form {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.register__form-field {
  display: flex;
  flex-direction: column;
}

.register__submit {
  margin-top: auto;
}

.register__additional-text {
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: 6px;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
}

.register__additional-link {
  text-decoration: none;
  color: #FF6838;
}